# Ignore all files ending with .log
*.log

# Ignore all files in node_modules directory
node_modules/

# Ignore all files in the temp directory
temp/

# Ignore all .env files
.env

# Ignore everything in the backup folder
backup/

# Ignore everything in the intermediate_videos folder except the folder itself
/intermediate_videos/*
!/intermediate_videos/

# Ignore everything in the output folder except the folder itself
/output/*
!/output/

# Ignore everything in the input folder except the samples subfolder and specific files
/input/*
!/input/
!/input/samples/
!/input/samples/sample_image.jpg
!/input/samples/sample_audio(12s).mp3

# Ignore Windows Zone.Identifier files
*Zone.Identifier
